body, h1, h2, p, ul, li, a{
  margin: 0px;
  padding: 0px;
}
body {
  font-family: 'Nunito',Helvetica, Arial,sans-serif;
  color: #222222;
}
ul {             
  list-style: none;
}
a {
  text-decoration: none;
}
img {  /* quero que as imagens sejam responsivas, não estora os containers com max-width */
  display: block;
  max-width: 100%;
}

* {     /* estilo geral que mostra todas as tags, a área de conteúdo dos elementos */
  box-sizing: border-box;
}

/*  ◘◘◘◘◘◘◘◘◘◘◘◘ MENU ◘◘◘◘◘◘◘◘◘◘◘◘ */
.menu-bg {
  background: #2c70ff;
}

.menu {
  max-width: 960px;   /* tela desktop */
  margin: 0 auto;
  padding: 15px 0;  /* distância do elemento top e bottom */
  display: flex;
  flex-wrap: wrap;       /* quebra */
  justify-content: space-between; /* alinhados na ponta */
  align-items: center;      /* marca sempre no centro */ 
}

.menu a {
  color:white
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;  /* não grudar no container e nem qd diminuir a tela */
}

.menu-nav ul {         /* aqui que fica na horizontal os items, na ul!!*/
  display: flex;
  flex-wrap: wrap;
}

.menu-nav a {
  font-size: 1.10em;
  display: block;
  padding: 15px;
}

.menu-nav a:hover{
  color: #f8a25c;
}

/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Introdução ◘◘◘◘◘◘◘◘◘◘◘◘ */
.introducao1{
    font-size: 2em;
    line-height: 1; /* grudar mais a letra */
    max-width: 960px;  /* alinhar com menu */
    margin: 0 auto; /* alinhar com menu */
    padding: 50px 0px 0px;
}

.introducao2{
  font-size: 1.5em;
  color: #f8a25c;
  line-height: 1; /* grudar mais a letra */
  max-width: 960px;  /* alinhar com menu */
  margin: 0 auto; /* alinhar com menu */
}

/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Sobre ◘◘◘◘◘◘◘◘◘◘◘◘ */
.sobre {
  display: flex;
  max-width: 960px;
  flex: 2;
  margin: 0 auto;
  padding: 60px 0;
}

.sobre h1 {
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #7c7c7c;
  padding: 10px 5px 5px 10px;
  align-self: center;
}

.sobre-img {
  height: 250px;
}

.sobre-button a {
  max-width: 960px;
  margin: 0 auto;
  display: flexbox;
  flex-wrap: wrap;
	border: 3px solid #2c70ff;
	padding: 10px 30px;
	color: #2c70ff ;
	font-size: 22px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
  letter-spacing: .1em;
  padding: 20px 20px 20px 20px;       /* ! */
  margin: 10px;
  align-items: center;
}


/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Tecnologia ◘◘◘◘◘◘◘◘◘◘◘◘ */

.tecnologia {           /* linha de delimitação */
  border-top: 2px solid #2c70ff;
  border-bottom: 2px solid #2c70ff;
  max-width: 960px;
  margin: 0 auto;    /* centralizar!! */
  padding: 40px 0;     /* espaçar separação */
  display: flex;     /* são os filhos da div */
  flex-wrap: wrap; /* quebrar as imagens */
}

.tecnologia-item ::before {    /* tracinho do subtítulo q vem antes pseudoelement */
  content: '';             /* se escrever algo irá aparecer,deixar vazio */   
  display: inline-block;       /* mostrar na linha */
  width:8px;
  height: 30px;
  margin-right: 10px;         /* espaçar right */
}
.tecnologia-item:nth-of-type(1) h2::before{   /* classe nth-of-type é pseudoseletor */
  background: #ae81ff                        /*  nth-of-type(3) só iria falar com o 3°*/
}

/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Portfólio ◘◘◘◘◘◘◘◘◘◘◘◘ */
.portfolio{
  max-width: 960px;   /* tela desktop */
  margin: 0 auto;
}





/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Contato ◘◘◘◘◘◘◘◘◘◘◘◘ */
.contato{
  max-width: 960px;   /* tela desktop */
  margin: 0 auto;
}




/*  ◘◘◘◘◘◘◘◘◘◘◘◘ Footer ◘◘◘◘◘◘◘◘◘◘◘◘ */
.footer {
  display: flex;
  background: #2c70ff;
  height: 150px;
  align-items: center;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 2.00em;
  color: #ffffff;
}